@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

input::placeholder {
    text-align: center;
}

canvas {
    height: 100%
}

.starting-body {
    height: 100vh;
}
/* #div_data {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */